body {
  font-family: "Noto Serif TC", serif;
  font-weight: 500;
  text-indent: 1rem;
  background-image: url("https://agirls.aottercdn.com/media/20f2a623-d960-4903-9e6c-1d809586785a.jpg");
  background-size: cover;
}
