body {
  font-family: "Noto Serif TC", serif;
  font-weight: 500;
  text-indent: 1rem;
  background-image: url("https://agirls.aottercdn.com/media/20f2a623-d960-4903-9e6c-1d809586785a.jpg");
  background-size: cover;
}
h1 {
  color: rgb(13, 20, 114);
}
h2 {
  color: rgb(2, 172, 53);
  background-color: rgb(168, 224, 219);
  width: 300px;
  height: 100px;
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0em;
}
title {
  background-color: rgb(189, 188, 226);
  width: 300px;
  height: 100px;
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0em;
}
